{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Green Goodies{% endblock %}

{% block body %}
    <section id="welcome">
        <div class="left">
            <div>
                <h1>Bienvenue</h1>
                <div id="welcome-text">
                    <p>Découvrez notre univers de produits durables et éthiques pour une consommation
                        responsable</p>

                    <p>Retrouvez des articles d’hygiène &amp; beauté, des accessoires &amp; boissons et du prêt à
                        porter</p>
                </div>
            </div>
        </div>
        <div>
            <img src="images/welcome.jpg">
        </div>
    </section>

    <section id="products"></section>
    <section id="conviction">
        <div>
            <div id="conviction-text">
                <h2>Notre conviction</h2>
                <p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la
                    planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits
                    qui
                    allient qualité, durabilité et éthique</p>
            </div>
        </div>
        <div>
            <img src="images/conviction.jpg">
        </div>
    </section>

    <section id="values">
        <div>
            <img src="images/values.jpg">
        </div>
        <div>
            <div id="values-text">
                <h2>Nos valeurs</h2>
                <p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et
                    favorisent
                    la durabilité.</p>
                <p>Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos
                    valeurs éthiques.</p>
                <p>Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les
                    matériaux
                    écologiques.</p>
            </div>
        </div>
    </section>
{% endblock %}
