@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo-color: #497555;
    --main-background: #FFFDF7;
    --header-text: #333333;
    --footer-background: white;
    --footer-text: var(--header-text);
    --welcome-background: #E8F0E3;
    --conviction-background: #EBE3D3;
    --values-background: #E8F0E3;
    --account-background: #F7F1EC;
    --submit-button-background: #565656;
    --submit-button-text: white;
    --price-text: #333333;
    --quantity-text: #666666;
    --delivery-text: #666666;

    --max-width: 1440px;
    --horizontal-padding: 0px; /* valeur du padding gauche et droite de la page sur la maquette Figma (page de 1440px de large) */
    --real-horizontal-padding: calc((100vw - var(--max-width)) / 2 + var(--horizontal-padding)); /* valeur du padding gauche et droite de la page pour un affichage pleine largeur */
}

BODY {
    /*width: 1440px;
    margin-left: auto;
    margin-right: auto;*/
    background-color: var(--main-background);
}

BODY.private {
    background-color: var(--account-background);
}

.wrapper {
    padding-left: var(--real-horizontal-padding) px;
    padding-right: var(--real-horizontal-padding) px;
}

/* Centrer le contenu lorsque la fenêtre fait plus de 1440px de large */
/*@media (min-width: 1440px) {
    .wrapper {
        margin: 0 auto;
        max-width: 1440px;
    }
}*/

HEADER {
    padding-left: var(--real-header-padding);
    padding-right: var(--real-header-padding);
    height: 81px;
    background-color: var(--main-background);
    color: var(--header-text);
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

HEADER NAV {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 101px;
    margin-right: 96px;
}

HEADER MENU LI A {
    color: var(--header-text);
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-decoration: none;
}

.logo {
    color: var(--logo-color);
    font-family: "Playfair Display", serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.logo-icon {
    width: 19px;
    height: 19px;
    background-color: var(--logo-color);
    color: white;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

HEADER NAV MENU {
    list-style: none;
}

HEADER NAV .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 78px;
}

HEADER NAV .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 53px;
    padding-left: 58px;
}

FOOTER {
    height: 81px;
    background-color: var(--footer-background);
    color: var(--footer-text);
    font-family: Inter, serif;
    font-size: 14px;
    font-weight: 400;
}

FOOTER NAV {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 89px;
}

SECTION#welcome {
    display: flex;
    flex-direction: row;
    background-color: var(--welcome-background);
}

SECTION#welcome > DIV {
    width: 50%;
}

SECTION#welcome > DIV IMG {
    width: 100%;
}

SECTION#welcome .left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

SECTION#welcome .left > DIV {
    width: 362px;
}

SECTION#welcome H1 {
    margin-bottom: 38px;
}

#welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 154px;

    font-family: Inter, serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: 0;
}

H1 {
    font-family: Inter, serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
}

#conviction {
    background-color: var(--conviction-background);
    display: flex;
    flex-direction: row;
}

#conviction > DIV {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

#conviction > DIV:nth-child(2) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#conviction-text {
    width: 425px;
    margin-left: 40px;
    margin-bottom: 40px;
}

#values {
    background-color: var(--values-background);
    display: flex;
    flex-direction: row;
}

#values > DIV {
    flex: 1;
}

#values > DIV:nth-child(2) {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#values-text {
    width: 465px;
    margin-right: 40px;
    margin-bottom: 40px;
}

.card {
    overflow: hidden;
    width: 100%;
}

.card-img {
    height: 474px;
    object-fit: cover;
}

.card-text {
    height: 218px;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#products ARTICLE {
    flex: 33%;
}

#product {
    display: flex;
    flex-direction: row;
}

#product #image {
    width: 734px;
}

#product #text {
    width: 706px;
    padding-top: 87px;
    padding-right: 122px;
    padding-left: 119px;
}

#product #image IMG {
    max-width: 100%;
}

#products-title {
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

H3 {
    color: var(--header-text);
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
}

.submit-button {
    width: 479px;
    height: 77px;
    background-color: var(--submit-button-background);
    color: var(--submit-button-text);
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
}

#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 146px;
}

#cart H1 {
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: var(--header-text);
    margin-top: 102px;
    margin-bottom: 16px;
}

#cart #buttons {
    width: 604px;
}

#cart .empty-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #666666;
    font: inherit;
    cursor: pointer;
    text-decoration: none;
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 17px;
}

#cart .empty-button:focus {
    outline: none; /* retire le contour au focus */
}

#cart #products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cart .product {
    width: 604px;
    height: 220px;
    border: 1px green solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 55px;
    margin-bottom: 5px;
}

#cart .product .img-block {
    margin-left: 43px;
}

#cart .product .img-block IMG {
    width: 142px;
    height: 132px;
}

#cart .product .text-block {

}

#cart .name {
    color: black;
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 6px;
}

#cart .quantity {
    color: var(--quantity-text);
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 13px;
}

#cart .price {
    color: var(--price-text);
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

#cart #total {
    width: 604px;
    height: 81px;
    background-color: rgba(255, 253, 247, 0.7);
    border: 1px red solid;
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 38px;
    gap: 3px;
}

#cart .cart-total {
    color: var(--price-text);
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
}

#cart .cart-total-price {
    color: var(--price-text);
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

#cart .delivery-text {
    color: var(--delivery-text);
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
}
