{% extends 'base.html.twig' %}
{% block title %}Erreur serveur - {{ parent() }}{% endblock %}
{% block body %}
    <h1>Erreur serveur</h1>

    <br><br><p>Erreur interne du serveur</p><br><br>

{% endblock %}