#login {
    gap: 100px;
}

#login H1, #register H1 {
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 41px;
}

#login #image IMG {
    width: 734px;
    height: 988px;
}

.no-account-or-already-registered, .no-account-or-already-registered:visited {
    color: var(--description-color);
    display: block;
    text-align: center;
}

#register {
    gap: 114px;
}

#register H1 {
    margin-bottom: 10px;
}

#register H2 {
    font-weight: 400;
    font-size: 12px;
    color: var(--description-color);
    margin-bottom: 24px;
}

#register #image IMG {
    width: 734px;
    height: 1104px;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-bottom: 50px;
}