<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="wrapper">
    <header>
        <nav>
            <div class="left">
                <div class="logo">
                    <div class="logo-icon">G</div>
                    <div>Green Goodies</div>
                </div>
            </div>
            <menu class="right">
                <li>Nos produits</li>
                <li>Mon panier</li>
                <li>Mon compte</li>
                <li>Déconnexion</li>
            </menu>
        </nav>
    </header>
    {% block body %}{% endblock %}
    <footer>
        <nav>© GreenGoodies - 2024</nav>
    </footer>
</div>
</body>
</html>
